html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FC0;
}

.shadow {
  box-shadow: 3px 1px 10px 1px rgba(0,0,0,0.62);
}

.btn {
  font-size: 16px;
  background-color: #444;
  color: #FFF;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.todo-list-main {
  margin: 0 auto;
  min-width: 80%;
  text-align: center;
  padding-top: 10px;
}
